/* =========================  GENERIC PSEUDOS  ========================= */
.highlight { color:#c30; }
.dimmed { color:#888; }
.info { background:#f8f8f8; color:#666; padding:10px; margin-bottom:0.5em; font-size:91.7%; }
.memo { background:#efe; color:#040; border:2px #484 solid; padding:10px; margin-bottom:1em; }
.important { background:#ffe; color:#440; border:2px #884 solid; padding:10px; margin-bottom:1em; }
.error { background:#fee; color:#400; border:2px #844 solid; padding:10px; margin-bottom:1em; }

.cloumn-half-left{width:47%; margin-right:3%; text-align:justify; float:left;}
.cloumn-half-right{width:47%; text-align:justify; float:right;}