/************************MAILCHIMPS-SOCIAL-PLUGIN********************/
#respond {
	margin-bottom: 30px;
}

.logged-in #social .social-input-row,
.logged-in #social .form-submit {
	clear: left;
	margin: 0 0 10px;
	overflow: hidden;
	padding-left: 60px;
	position: relative;
	zoom: 1;
}

.subscribe-to-doi-comments input,
#social #post_to input{
		margin-right:6px;
}

#social #post_to {
		margin:8px 0 0 -21px;
		min-height: 1.2em;
}


/* Threaded respond form */
#social .social-commentlist #respond {
	margin: 6px 0;
	padding: 0 0 0 20px;
}
#social .social-commentlist #reply-title {
	background-position: 0 -400px;
}
#social .social-commentlist #commentform {
	border-left: 1px solid #e1e1e1;
	padding-left: 10px;
}


/**
 * Subtext, help text, etc
 */
#social .social-help,
#social .social-psst {
	color: #999;
}
#social .social-help {
	font-style: italic;
}


}
#social .social-input-row .social-help {
	float: left;
	margin-left: 7px;
}

#social .social-twitter-icon,
#social .social-facebook-icon {
	background: url('../img/social/social.png') 0 -150px no-repeat;
	display: block;
	padding-left: 21px;
	/**
	 * @bugfix hasLayout fix
	 * @affected	IE6
	 * Keeps background from showing up twice.
	 */
	zoom: 1;
}
#social .social-facebook-icon {
    background-position: 0 -250px;
}

#social .social-sign-in-links {
	margin: 0 auto 9px;
	width: 360px;
}
#social .social-sign-in-links a {
	display: inline;
	float: left;
	height: 22px;
	margin: 0 15px;
	width: 150px;
}
#social .social-sign-in-links .social-twitter {
	background: url('../img/social/social.png') 0 0 no-repeat;
}
#social .social-sign-in-links .social-twitter:hover {
	background-position: 0 -22px;
}
#social .social-sign-in-links .social-twitter:active {
	background-position: 0 -44px;
}
#social .social-sign-in-links .social-facebook {
	background: url('../img/social/social.png') -150px 0 no-repeat;
}
#social .social-sign-in-links .social-facebook:hover {
	background-position: -150px -22px;
}
#social .social-sign-in-links .social-facebook:active {
	background-position: -150px -44px;
}

/** @section Tabs
 -------------------------------------------------- */

/**
 * Work around Javascript FOUC accessibly
 * Prevent flash before tabs init...
 * Relies on snippet in master.js
 */
.social-js .social-tabs-panel {
	display: none;
}
.social-js .social-tabs-first-panel {
	display: block;
}

#social .social-heading {
	background: url('../img/social/background-strikethrough.gif') 0 13px repeat-x;
	margin-bottom: 10px;
}
#social .social-title {
	margin: 0 0 0 9px;
	zoom: 1;
}
#social .social-title span {
	display: block;
}


#social .social-divider {
	background: url('../img/social/background-strikethrough.gif') center repeat-x;
	clear: both;
	font-style: italic;
	margin: 0 7px 10px;
	text-align: center;
}
#social .social-divider span {
	background-color: #fff;
	padding: 0 10px;
}
#social .must-log-in {
	text-align: center;
}
#social .social-must-log-in {
	margin-bottom: 25px;
}


/** @section Comments List
 -------------------------------------------------- */
#social .social-commentlist {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
}

#social .social-comment {
	position: relative;
	margin: 0 0 10px;
	zoom: 1;
}
#social .social-comment:hover { background:#fff;  }

#social .social-comment-header {
	margin-bottom: 6px;
	position: relative;
	z-index: 2;
}
#social .social-comment-author {
	margin-right: 125px;
}
#social .social-fn {
	display: block;
	font-size: 16px;
	-o-text-overflow: ellipsis; /* Opera */
	text-overflow: ellipsis; /* IE6+, Safari, Konqueror, Standard? */
	overflow: hidden;
	margin: 0;
	/**
	 * @workaround Prevent ugly overflow issues in IE6
	 * @valid yes
	 * @affected IE6
	 */
	width: 100%;
}


#social .social-identity {
	margin-top: 10px;
	position: relative;
}
#social .social-identity .avatar {
	left: 0;
	position: absolute;
	top: 2px;
}
#social #cancel-comment-reply-link {
	display: inline;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 3px 10px;
	position: static;
	text-transform: none;
}

#social .social-comment-header .avatar {
	left: -50px;
	position: absolute;
	/**
	 * Align with visual text top
	 */
	top: 3px;
}

#social .social-replied {
	background: url('../img/social/sprite-y-24-icons.png') 0 -300px no-repeat;
	display: block;
	height: 16px;
	left: -67px;
	position: absolute;
	top: 0;
	width: 16px;
}

#social .social-comment-inner {
	padding: 7px 0 0 50px;
	position: relative;
	zoom: 1;
}

#social .social-comment-body {
	overflow: hidden;
	/**
	 * @workaround Prevent ugly overflow issues in IE6
	 * @valid yes
	 * @affected IE6
	 */
	width: 100%;
}

#social .social-comment-body p {
	margin: 0 0 5px;
}
/* Children Comments */
#social .social-children {
	margin: 0;
	padding: 0;
	zoom: 1;
}
#social .social-children li {
	list-style: none;
	margin: 0;
}

#social .social-children .social-comment {
	border-right: 0;
	-moz-border-radius-topright: 0; /* FF1+ */
	-webkit-border-top-right-radius: 0; /* Saf3+, Chrome */
	-khtml-border-top-right-radius: 0; /* Konqueror */
	border-top-right-radius: 0; /* Standard. IE9 */
	-moz-border-radius-bottomright: 0; /* FF1+ */
	-webkit-border-bottom-right-radius: 0; /* Saf3+, Chrome */
	-khtml-border-bottom-right-radius: 0; /* Konqueror */
	border-bottom-right-radius: 0; /* Standard. IE9 */
	margin-left: 20px;
}

#social .social-actions,
#social .social-actions a,
#social .social-comment-meta,
#social .social-comment-meta a,
#social .social-last-reply-when {
	color: #999;
}


#social .social-actions {
	margin-bottom: 8px;
}

#social .social-comment-meta {
	background: url('../img/social/sprite-y-24-icons.png') no-repeat;
	padding-right: 20px;
	position: absolute;
	right: 0;
	top: 2px;
	white-space: nowrap;
}
#social .social-comment-meta .social-posted-from a,
#social .social-comment-meta .social-posted-from {
	position: absolute;
	right: 0;
	width: 16px;
	height: 16px;
	margin-left: 5px;
}
#social .social-comment-meta .social-posted-from span {
	display: none;
}
.social-actions,
.social-actions a,
.social-last-reply-when,
.social-last-reply-when a,
.social-posted-when {
	font-weight:500;
}

#social .social-wordpress .social-comment-meta,
#social ol li ul li.social-wordpress .social-comment-meta {
	background-position: right -1px;
}
#social .social-twitter .social-comment-meta,
#social ol li ul li.social-twitter .social-comment-meta {
	background-position: right -100px;
}
#social .social-facebook .social-comment-meta,
#social ol li ul li.social-facebook .social-comment-meta {
	background-position: right -200px;
}
#social .social-pingback .social-comment-meta,
#social ol li ul li.social-pingback .social-comment-meta {
	background-position: right -400px;
}
#social .social-pingback > .social-comment-inner {
	padding-left: 0;
}

#social .social-comment-collapse > .social-comment-inner > .social-comment-body,
#social .social-comment-collapse > .social-comment-inner > .social-actions {
	display: none;
}
#social .social-comment-collapse > .social-comment-inner > .social-comment-header {
	filter:alpha(opacity=30);
	opacity: .3;
}
#social .social-comment-collapse > .social-comment-inner > .social-comment-header .social-fn {
	position: relative;
	left: -10px;
}
#social .social-pingback.social-comment-collapse > .social-comment-inner > .social-comment-header .social-fn {
	left: 0;
}
#social .social-comment-collapse > .social-comment-inner > .social-comment-header > .social-comment-author img {
	width: 16px;
	height: 16px;
	left: -35px;
	top: -1px;
}

/*Tabs*/
#social .social-nav {
	background: #fff;
	list-style: none;
	margin: 0 0 3px;
	padding: 0 0 0 4px;
}

#social .social-nav li {
	display: inline;
	float: left;
	margin-left: 10px;
}
#social .social-nav .social-tab-main {
	margin-left: 0;
}
#social #social-tabs-comments .social-nav li a span {
	background: url('../img/social/sprite-y-24-icons.png') 0 100px no-repeat;
	display: block;
	line-height: 24px;
}
#social #social-tabs-comments .social-nav .social-wordpress a span {
	background-position: 0 4px;
	padding-left: 19px;
}
#social #social-tabs-comments .social-nav .social-twitter a span {
	background-position: 0 -96px;
	padding-left: 19px;
}
#social #social-tabs-comments .social-nav .social-facebook a span {
	background-position: 0 -195px;
	padding-left: 19px;
}
#social #social-tabs-comments .social-nav .social-pingback a span {
	background-position: 0 -394px;
	padding-left: 19px;
}

/* Tab graphical treatment - selected tabs, and section headers*/
#social #reply-title {
	overflow: hidden;
	zoom: 1;
}
#social #reply-title span,
#social .social-nav li a {
	float: left;
	height: 26px;
}
#social .social-nav li a {
	background: #fff;
	padding: 0 12px 4px 12px;
}
#social .social-nav .social-current-tab a {
	padding: 0 12px 4px 8px;
}

#social .social-nav .social-current-tab {
	padding-left: 4px;
}
#social .social-nav .social-current-tab a {
	color: #000;
}

/**
 * This is for the "more important" tabs
 */
#social .social-tab-main,
#social .social-heading .social-title {
	font-weight: bold;
}



/**
 * Line-height fix
 */

#social .social-select {
	margin-top: 2px;
}

#social .social-select optgroup {
	padding: 2px;
	font-weight: bold;
}

#social .social-select option {
	font-weight: normal;
}


/*************JQUERY-QUICKTAGS***************************/
.qtag-toolbar{margin:0 0 -1.25em .5em;position: relative;}
.qtag-toolbar+textarea{padding-top:.75em;}
.qtag-quote{font-family:serif;font-style:italic;}
.qtag-code{font-family:monospace;position: relative;top:-1px;}
.qtag-url{text-decoration: underline;color:#00f;}
.qtag-s{text-decoration: line-through;color:#f00;}
.qtag-em{font-style:italic;}
.qtag-strong{font-weight:700;}

