html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
address{	display:inline;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html, body {height: 100%;}
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a:active, input[type=submit]:active{ outline: 0; position: relative; top: 1px; }
#content .entry-content a[href^="http"]:before { content: "→ "; }
#content .entry-content a[href^="http"]:hover:after, #content .entry-content a[href^="http"]:focus:after{ content:" (extern)";}
#content .entry-content a[href^="http://assets"]:before { content: ""; }
#content .entry-content a[href^="http://assets"]:hover:after, 
#content .entry-content a[href^="http://assets"]:focus:after{ content:"";}

ul, ol, dl { margin: 0 0 1em 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button, .button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
/*
input:valid, textarea:valid   { border-color:#6c9; }
input:invalid, textarea:invalid { border-color:#f00; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
*/
::-moz-selection{ text-shadow: none; }
::selection { text-shadow: none; }
button {  width: auto; overflow: visible; }
button:focus { outline-width:1px; outline-style:dotted; } 
button::-moz-focus-inner { padding:0; border:0; }
.ie7 img { -ms-interpolation-mode: bicubic; }

#user-hints{ position:fixed;bottom:1em;width:100%;z-index:1000;left:0;}
.js #jsnotice { display: none; }
.no-js #jsnotice, #ie-message { display: block; float:left; width: 29%; margin-left:2%; }
#ie-message { float:right; width: 60%; margin-right:2%; margin-left:0;}


/* =========================  GENERIC PSEUDOS to choose via TINYMCE (copy from eitor-style.css) ========================= */
.highlight, .comment-awaiting-moderation { color:#c30; }
.dimmed { color:#888; }
.info, .memo, .important, .error, .wpcf7-not-valid-tip, .wpcf7-validation-errors,
.wpcf7-spam-blocked, .wpcf7-not-valid-tip-no-ajax, .success, .wpcf7-mail-sent-ok{padding:10px; margin-bottom:1em;}
.info { background:#f8f8f8; color:#666; font-size:91.7%; }
.memo, .success, .wpcf7-mail-sent-ok { background:#efe; color:#040; border:2px #484 solid;  }
.important { background:#ffe; color:#440; border:2px #884 solid; }
.error, .wpcf7-not-valid-tip, .wpcf7-validation-errors, .wpcf7-spam-blocked, .wpcf7-not-valid-tip-no-ajax
{background:#fee; color:#400; border:2px #844 solid; }
.highlight *, .dimmed *, .info *, .memo *, .important *{  background-color: transparent!important;}


/* =========================  COLOURS  ========================= */
::-moz-selection{ background: #FF5E99; color:#fff; }
::selection { background:#FF5E99; color:#fff; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

body, select, input, textarea { color: #444; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
a:focus, input[type=submit]:focus { outline: 2px dotted #FF5E99; }

/* =========================  FONTS  ========================= */
body,select{ font-family: Arial, Helvetica, Tahoma, sans-serif; }
h1,h2,h3,h4,h5,h6,input,textarea { font-family:Georgia, "Times New Roman", Times, serif;  }

h1,h2,h3,h4,h5,h6 {  font-weight:normal;  margin:0 0 0.25em 0;}

h1 { font-size:250%; }                       /* 30px */
h2 { font-size:200%; }                       /* 24px */
h3 { font-size:150%; }                       /* 18px */
h4 { font-size:133.33%; }                    /* 16px */
h5 { font-size:116.67%; }                    /* 14px */
h6 { font-size:116.67%; }                    /* 14px */

p { line-height:1.5em; margin:0 0 1em 0; }
.amp {font:italic 1.25em/1em "Goudy Old Style",Baskerville,"Palatino Linotype",Palatino,Constantia,Georgia,'Book Antiqua','Times New Roman',serif;position: relative;top:.1em;}

/* =========================MAIN CONTENT========================= */
/*** iframe Inhalte wie Videos oder Karten skalieren **/
img,
embed,
object,
video,
iframe,
table,
figure {
  max-width: 100%;
}

#content blockquote,
#content q,
#content cite{
    font-style: italic;
    margin:.5em 2em;
}

#fancybox-wrap *{ max-width:100%;}

a[href$=".pdf"]{
    background:transparent url("../img/pdf.gif") no-repeat 10px 50%;
    text-decoration: none;
    padding:10px 10px 10px 35px;
}

a[href$=".pdf"]:hover,
a[href$=".pdf"]:focus,
a[href$=".pdf"]:active{
    text-decoration: underline;
    outline:1px solid #659594;
}


/* =========================FOOTER========================= */
footer {
	clear:both;
	margin: 0 auto;
}



/* =========================  USEFUL ELEMENTS  ========================= */
button, .button, input[type="submit"] {
		display: inline-block;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  border-radius: 5px;
		border:1px solid;
		margin:0 0.5em 0.5em 0;
		padding:.15em .3em;
		background:url("/wp-content/themes/cb-std-sys/img/social/sprite-y-24.png") no-repeat scroll 0 -100px #DEDEDE;
		outline:none!important;
}


/* =========================WORDPRESS SEARCH========================= */
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}

input[type="search"] {
   -moz-appearance:none;
   -webkit-appearance:none;
}
input[type="search"]::-webkit-input-placeholder {
        color: inherit;
}
/*
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
*/

/* =========================WORDPRESS PAGINATION========================= */
nav.pagination {
	margin: 20px 0 10px;
	width: 100%;
	padding: 0;
	line-height: normal;
	
	clear:both;
}
 
nav.pagination a,
nav.pagination span {
	padding: 3px 4px 2px 4px; 
	margin:0;
	text-decoration: none;
	border: 1px dotted;
}

nav.pagination span.meta-nav,
nav.pagination span.dots {  border:none; }

nav.pagination a:hover,
nav.pagination span.current {
	border: 1px solid;
}

nav.pagination a[rel="next"]{ float:right;}



/* =========================HTML5 BOILERPLATE HELPER CLASSES=========================*/
.social-imr, .ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden, .wpcf7-display-none { display: none; visibility: hidden; }
.visuallyhidden, .logged-in .social-label { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.social-clearfix:before, .clearfix:before, .social-clearfix:after, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.social-clearfix:after, .clearfix:after, br { clear: both; }
.social-clearfix, .clearfix { zoom: 1; }




/* =========================WORDPRESS DEFAULT CLASSES========================= */
.aligncenter { display:block; margin:0 auto }
.alignleft { float:left }
.alignright { float:right }
.bypostauthor{font-weight: 700;}
.sticky{}
a.readmore{display:inline!important;}
a.editlink{display:inline!important;width:auto!important;height:auto!important;font-size:90%;}
/* =========================WORDPRESS-GALLERY========================= */
.gallery .gallery-item {
    float: left;
    list-style: none outside none;
    margin: 0 10px 10px 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
.gallery a.fb-gal{
    background:none!important;
    padding:0!important;
}
#fancybox-overlay {
    background-color: #000!important;
    opacity:0.9!important;
		filter:alpha(opacity=90);
}

#fancybox-wrap{
    background-color: rgba(0,0,0,0.5)!important;
    border:none!important;
    color:#fff!important;
    box-shadow: 5px 5px 10px #000000, -5px -5px 10px #000;
}
#fancybox-outer {background: none!important;}
#fancybox-content {
    border-color:none!important;
    border-color: rgba(0, 0, 0, 0.1)!important;
}
.wp-caption { border:1px solid #666; text-align:center; background:#ccc; padding:10px; margin:10px }
.wp-caption-text{}
.gallery-caption{}
/* =========================CSS3 MEDIA QUERIES========================= */
@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (min-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 975px) {

}

@media screen and (min-width: 1100px) {

}




/* =========================PRINT========================= */
@media print {
  * { font-family: serif; background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
