/**
 *
 *  Login, Apache Errordocs & Dashboard
 *  
*/

body.login,
body.error-doc{
  xbackground-color:red !important;
}

body.login form,
body.error-doc #error-box{
  	box-shadow: 0 4px 18px #000;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
}

body.error-doc form#searchform-1 {

}

body.error-doc li a{ color: #777777; }

#error-box p{ color: #777777; }
 
body.login #nav a,
body.login #backtoblog a{
  background:#fff;
}
