/**
 *
 *  Login Screen
 *  
*/


/**
 *
 *  Login & Dashboard
 *  
*/
html{  height:100%; }
body.login{
  background-color:#232825 !important;
  height:100%;
  overflow:hidden;  
}

body.login h1 a{
  background-image: url(../../../../../apple-touch-icon-57x57-precomposed.png) !important;
  height:57px;
}

body.login form{
  box-shadow: 0 4px 18px #000;
}
body.login #nav a,
body.login #backtoblog a{
  background:#fff;
  padding:4px;
  border-radius:4px;
}

.wp-admin #header-logo { 
  background-image: url(../../../../favicon.ico) !important;
}

/** error widget **/
.postbox #slt-php-errors {
  overflow-x:hidden!important;
}

/**
 *
 *  Artikel + Seiten Listen
 *  
*/

.widefat th#author,
.widefat th#thumbnail{
  width:6%;
}

/**
 *
 *  Options Page
 *  
*/
.toplevel_page_cbstdsys .error .error-topic{  width:200px; display: inline-block; }

.toplevel_page_cbstdsys .wrap fieldset{ 
  position: relative;
  padding: 6em 0 0.5em;  
}

.toplevel_page_cbstdsys .wrap legend {
    background: #eee;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin: -3em 0 1em;
    padding: 1em 0.5em;
    position: absolute;
    width: 100%;
}





/** [shortcode] and params */
#screen-meta dl{
  margin-left:20px;
  list-style-type: lower-alpha;
  
}

#screen-meta dt{
  clear: left;
  float: left;
  width: 15%;
}

#screen-meta dd{
  width:85%;
  float:left;
}