html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html, body {height: 100%;}
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a:active, input[type=submit]:active{ outline: 0; position: relative; top: 1px; }
#content .entry-content a[href^="http"]:before { content: "→ "; }
#content .entry-content a[href^="http"]:hover:after, #content .entry-content a[href^="http"]:focus:after{ content:" (extern)";}
#content .entry-content a[href^="http://assets"]:before { content: ""; }
#content .entry-content a[href^="http://assets"]:hover:after, 
#content .entry-content a[href^="http://assets"]:focus:after{ content:"";}
a.readmore{display:inline!important;}

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ text-shadow: none; }
::selection { text-shadow: none; }
button {  width: auto; overflow: visible; }
button:focus { outline-width:1px; outline-style:dotted; } 
button::-moz-focus-inner { padding:0; border:0; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.js #jsnotice { display: none; }
.no-js #jsnotice { display: block; }
/* =========================  GENERIC PSEUDOS to choose via TINYMCE (copy from eitor-style.css) ========================= */
.highlight { color:#c30; }
.dimmed { color:#888; }
.info { background:#f8f8f8; color:#666; padding:10px; margin-bottom:0.5em; font-size:91.7%; }
.memo { background:#efe; color:#040; border:2px #484 solid; padding:10px; margin-bottom:1em; }
.important { background:#ffe; color:#440; border:2px #884 solid; padding:10px; margin-bottom:1em; }
.error { background:#fee; color:#400; border:2px #844 solid; padding:10px; margin-bottom:1em; }

.cloumn-half-left{width:47%; margin-right:3%; text-align:justify; float:left;}
.cloumn-half-right{width:47%; text-align:justify; float:right;}


/* =========================  WORDPRESS CUSTOM STYLES  ========================= */













/* =========================  COLOURS  ========================= */
::-moz-selection{ background: #FF5E99; color:#fff; }
::selection { background:#FF5E99; color:#fff; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
a:focus, input[type=submit]:focus { background: #FF5E99; color:#fff; outline: 2px dotted #FF5E99; }

/* =========================  FONTS  ========================= */
body, select, input, textarea { font-family: Arial, Helvetica, Tahoma, sans-serif; }
h1,h2,h3,h4,h5,h6 {  font-family:Georgia, "Times New Roman", Times, serif;  }

h1,h2,h3,h4,h5,h6 {  font-weight:normal;  margin:0 0 0.25em 0;}

h1 { font-size:250%; }                       /* 30px */
h2 { font-size:200%; }                       /* 24px */
h3 { font-size:150%; }                       /* 18px */
h4 { font-size:133.33%; }                    /* 16px */
h5 { font-size:116.67%; }                    /* 14px */
h6 { font-size:116.67%; }                    /* 14px */

p { line-height:1.5em; margin:0 0 1em 0; }
.amp {font:italic 1.25em/1em "Goudy Old Style",Baskerville,"Palatino Linotype",Palatino,Constantia,Georgia,'Book Antiqua','Times New Roman',serif;position: relative;top:.1em;}
/* =========================LAYOUT========================= ,normal */
	/*body {
		width: 100%;
		max-width: 965px;
		margin: 0 auto;
	}*/
/* =========================HEADER========================= */




/* =========================MAIN CONTENT========================= */
/*** iframe Inhalte wie Videos oder Karten skalieren **/
img,
embed,
object,
video,
iframe {
  max-width: 100%;
}




/* =========================FOOTER========================= */
footer {
	clear:both;
	margin: 0 auto;
}



/* =========================  USEFUL ELEMENTS  ========================= */
.button {
	display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border:none;
}


/* =========================WORDPRESS SEARCH========================= */
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
/*
input[type="search"] {
   -moz-appearance:none;
   -webkit-appearance:none;
}
input[type="search"]::-webkit-input-placeholder {
        color: orangered;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
*/

/* =========================WORDPRESS PAGINATION========================= */
nav.pagination {
	margin: 20px 0 10px;
	width: 100%;
	padding: 0;
	line-height: normal;
}
 
nav.pagination a,
nav.pagination span {
	padding: 3px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px dotted;
}
nav.pagination span.meta-nav,
nav.pagination span.dots {  border:none; }
 
nav.pagination a:hover,
nav.pagination span.current {	
	border: 1px solid;
}


/* =========================FORMS========================= */


/* =========================HTML5 BOILERPLATE HELPER CLASSES=========================*/
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after, br { clear: both; }
.clearfix { zoom: 1; }




/* =========================WORDPRESS DEFAULT CLASSES========================= */
/* These rather presentational classes are generated by WordPress, so it's useful to have some styles for them. Edit as you see fit. More info: http://codex.wordpress.org/CSS */
.aligncenter { display:block; margin:0 auto }
.alignleft { float:left }
.alignright { float:right }
.wp-caption { border:1px solid #666; text-align:center; background:#ccc; padding:10px; margin:10px }
.wp-caption-text{}
.gallery-caption{}
.bypostauthor{}
.sticky{}


/* =========================CSS3 MEDIA QUERIES========================= */
@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (min-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 975px) {

}

@media screen and (min-width: 1100px) {

}




/* =========================PRINT========================= */
@media print {
  * { font-family: serif; background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
